<div class="container" style="max-width: 700px; margin: 0 auto;">
    <h2 style="text-align: center;">Crea Contratto</h2>
  
    <form (ngSubmit)="creaContratto()" #form="ngForm">
      <table border="1" cellpadding="10" cellspacing="0" style="width: 100%;">
        <tr>
          <th>Data Assunzione</th>
          <td>
            <input type="date" name="dataAssunzione" [(ngModel)]="dataAssunzione" required />
          </td>
        </tr>
  
        <tr>
          <th>Data Dimissione</th>
          <td>
            <input type="date" name="dataDimissione" [(ngModel)]="dataDimissione" />
          </td>
        </tr>
  
        <tr>
          <th>Stipendio</th>
          <td>
            <input type="number" name="stipendio" [(ngModel)]="stipendio" required min="0" />
          </td>
        </tr>
  
        <tr>
          <th>Ruolo ID</th>
          <td>
            <input type="number" name="ruoloID" [(ngModel)]="ruoloID" required min="1" />
          </td>
        </tr>
  
        <tr>
          <th>Categoria ID</th>
          <td>
            <input type="number" name="categoriaID" [(ngModel)]="categoriaID" required min="1" />
          </td>
        </tr>
  
        <tr>
          <th>Status</th>
          <td>
            <select [(ngModel)]="status" name="status" required>
              <option [value]="1">Attivo</option>
              <option [value]="0">Non Attivo</option>
            </select>
          </td>
        </tr>
      </table>
  
      <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn-link btn-salva" >💾 Salva</button>
        <button type="button" (click)="annulla()" class="btn-link back-button">↩️ Annulla</button>
      </div>
    </form>
  </div>
  