<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <span class="material-icons">home</span> Home
      </a>
    </li>
    <li>
      <a routerLink="/ruoli" routerLinkActive="active">
        <span class="material-icons">badge</span> Ruoli
      </a>
    </li>
    <li>
      <a routerLink="/categorie" routerLinkActive="active">
        <span class="material-icons">category</span> Categorie
      </a>
    </li>
    <li>
      <a routerLink="/employee" routerLinkActive="active">
        <span class="material-icons">groups</span> Employees
      </a>
    </li>
    <li>
      <a routerLink="/contratti" routerLinkActive="active">
        <span class="material-icons">description</span> Contratti
      </a>
    </li>
  </ul>
</nav>
